<!--The content below is only a placeholder and can be replaced.-->
<div id=btn-link>
  <button class="btn btn-primary btn-lg" [routerLink]="['home']" skipLocationChange>Home</button>
  <button class="btn btn-primary btn-lg" [routerLink]="['mine']" skipLocationChange>Mine Coins</button>
  <button class="btn btn-primary btn-lg" [routerLink]="['buy']" skipLocationChange>Buy Coins</button>
  <button class="btn btn-primary btn-lg" [routerLink]="['sell']" skipLocationChange>Sell Coins</button>
  <button class="btn btn-primary btn-lg" [routerLink]="['browse']" skipLocationChange>Browse Ledger</button>
  <router-outlet></router-outlet>
</div>


